<!DOCTYPE html>
<template>
	<section>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" samesite="none" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" samesite="none" href="https://www.w3schools.com/lib/w3-theme-black.css">
		<link rel="preload" as="style" samesite="None" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" samesite="None" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<div>
			<h4>Follow Us</h4>
			<a bind="follow" data-src="[facebook,twitter,google-plus,instagram,linkedin]" class="w3-button w3-large w3-teal" style="margin-right:6px" href="javascript:void(0)" title="{{0}}">
				<i class="fa fa-{{0}}"></i>
			</a>
		</div>
	</section>
</template>		
