<!DOCTYPE html>
<template>
<section id="three" class="wrapper special">
    <div class="inner">
        <header class="align-center">
            <h2>Nunc Dignissim</h2>
            <p>Aliquam erat volutpat nam dui </p>
        </header>
        <div class="flex flex-2">
            <article>
                <div class="image fit">
                    <img src="images/pic01.jpg" alt="Pic 01">
                </div>
                <header>
                    <h3>Praesent placerat magna</h3>
                </header>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <div class="image fit">
                    <img src="images/pic02.jpg" alt="Pic 02">
                </div>
                <header>
                    <h3>Fusce pellentesque tempus</h3>
                </header>
                <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <div class="image fit">
                    <img src="images/pic03.jpg" alt="Pic 03">
                </div>
                <header>
                    <h3>Fusce pellentesque tempus</h3>
                </header>
                <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>

        </div>
    </div>

</section>
</template>