
<!DOCTYPE html>
<template>
    <section>
        <link rel="preload" href="/assets/css/main.css" as="style" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <ul class="features">
                <article bind="${bind}">
                    <a href="#" class="image"><img class="fit" src="${1}" alt="" /></a>
                    <h3 class="major">${2}</h3>
                    <p>${3}</p>
                    <a href="#" class="special">Learn more</a>
                </article>
            </ul>
        </div>
    </section>
       
</section>
 
</template>