<!DOCTYPE html>
<template>
    <section>
        <h1 style="text-transform: initial;">&lt;doo-html /&gt;</h1>
        <p style="text-transform: initial;">Web Components on Steroids</p>
        <br/>
        <p style="text-transform: initial;">Mix and Match Components and CSS frameworks without conflicts</p>
        <ul class="doo-features">
                <li>Small footprint (28Kb)</li>
                <li>Blazingly fast rendering</li>
                <li>WYSWIG underlying HTML</li>
                <li>No build step</li>
                <br/>
                <li>CodePen: <a href="https://codepen.io/hman61/pen/VwwJQrG" target="codepen">Hello World</a></li>
                <br/>
                <li><a href="https://github.com/hman61/doodads/wiki/Documentation" target="docs">Doocumentation</a></li>
        </ul>
    </section>
</template>