<!DOCTYPE html>
<template>
    <section id="${id}" class="wrapper style1 spotlights">
        <section bind="${bind}" class="wrapper style2 spotlights">
            <a href="#" class="image fit" style="background-image: url(${1});"><img class="fit" xstyle="display:none" src="${1}" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>${2}</h2>
                    <p>${3}</p>
                    <a href="#" class="button">Learn more</a>
                </div>
            </div>
        </section>
    </section>

</template>        
