<!DOCTYPE html>
<template>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody >
                <tr bind="${bind}" >
                    <td>${1}</td>
                    <td>${2}</td>
                    <td>${3}</td>
                    <td>${4}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>