<!DOCTYPE html>
<template>
    <section>
      <link rel="rel" href="/assets/css/w3.css" as="style">
      <link rel="stylesheet" href="/assets/css/w3.css">
    
      <!-- Tiles -->
      <div class="w3-row w3-container">
        <div class="w3-center w3-padding-64">
          <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
        </div>
      </div>  
      <div class="w3-row w3-container">
        <div  data-src="[Design,Branding,Consulting,Research]" bind="whatweoffer" class="w3-col l3 m6 w3-{{ greyShade() }} w3-container w3-padding-16">
          <h3>{{ 0 }}</h3>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </section>
</template>