<!DOCTYPE html>
<template>
    <section id="one" class="wrapper style2 spotlights">
        <section bind="${bind}">
            <a href="#" class="image"><img src="images/{{img}}" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>{{ label }}</h2>
                    <p>{{ lorem() }}</p>
                    <a href="#" class="button">Learn more</a>
                </div>
            </div>
        </section>
    </section>
</template>        
