<!DOCTYPE html>
<template>
	<section>
		<link rel="stylesheet" href="/assets/css/doo/doo-flex-grid.css">
		<div class="container">
            <div class="fhead" data-src="[0]" bind="dummy" >
                <div class="small">
                    <span data-sort="false">Row#</span>
                </div>
                <div>
                    <span onclick="self.sortBy(this, 'sport')"  class="doo-sort">Sport</span>
                </div>
                <div>
                    <span onclick="self.sortBy(this, 'athlete')"  class="doo-sort">Athlete</span>
                </div>
                <div class="small">
                    <span onclick="self.sortBy(this, 'year')"  class="doo-sort">Year</span>
                </div>
                <div class="small">
                    <span onclick="self.sortBy(this, 'gold')"  class="doo-sort">Gold</span>
                </div>
                <div class="small">
                    <span onclick="self.sortBy(this, 'silver')"  class="doo-sort">Silver</span>
                </div>
                <div class="small">
                    <span onclick="self.sortBy(this, 'bronze')"  class="doo-sort">Bronze</span>
                </div>
                <div>
                    <span onclick="self.sortBy(this, 'country')"  class="doo-sort">Country</span>
                </div>
            </div>

            <div class="fbody">
                <div data-src="Doo.DAO" bind="athletes">
					<div class="small number">{{ row() }}</div>
					<div>{{ sport }}</div>
					<div>{{ athlete }}</div>
                    <div class="small">{{ year }}</div>
					<div class="small number">{{ gold }}</div>
					<div class="small number">{{ silver }}</div>
					<div class="small number">{{ bronze }}</div>
                    <div>{{ country }}</div>
                </div> 
			</div>
        </div>		
	</section>
</template>