.container {
    font-family: roboto !important;
    background-color: #eee;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    border:1px outset grey;
    border-top-left-radius: 0.25rem;			
    overflow-y:auto;
    overflow-x: hidden;
    max-height: 60vh;
    min-height: 5vh !important; 
}	
.caps {
    text-transform: capitalize;
}    
.doo-capitalize {
    text-transform: capitalize;
}    


.small {
    flex-grow: 0 !important;
    width: 2.5rem;
    min-width: 5vw !important;
    max-width: 8vw !important;
    text-overflow: ellipsis;
    overflow-x: hidden; 
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5rem 0.25rem 0.25rem !important;
}
.center {
    justify-content: center;
}
.number {
    display:inline-flex;
    justify-content: flex-end !important;
}
.fhead {
    position: sticky;
    top: 0px;
    z-index: 9;
}
.fhead [arrow] {
    cursor:pointer;
}
.fhead > div {
    color: black;
    background-color: lightgrey;
    user-select: none;
    position: sticky;
    top: 0px;
    z-index: 9;
    font-size: 0.9rem;
    font-weight:normal;
    padding: 0.25rem 0.5rem 0.25rem;
    flex-grow: 1;
    min-width: 150px;
    max-width: 150px;
    justify-content: center;
}
.fbody data {
    display: inline-flexbox;
}    
.fhead, .fbody data > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.fbody {
    font-size: 0.8rem;
    background-color: WHITE;
}
.fbody data {
    font-size: 0.8rem;
    background-color: WHITE;
    width: 100%;
}

.fhead > div {
    border-bottom: 1px solid grey;
}

.fbody data > div div, .fhead  > div  {
    padding: 0.5rem 0.8rem 0.25rem;
    white-space: nowrap;
    flex-grow: 1;
    min-width: 150px;
    max-width: 150px;
    height:1.25rem;                
}

.fbody data > div div {
    border-right: 1px solid grey; 
    border-bottom: 1px solid grey; 
}
.fbody data > div:first-child div {
    border-top: none; 
}
.fbody data > div:nth-child(even) div {
    background-color: #eee; 
}
.fbody data > div div:last-child, .fhead > div:last-child {
    display:flex;
    flex-grow: 1 !important;
    min-width: initial;
    max-width: initial;
    overflow-x: visible; 
}
.fbody data > div div:last-child {
    justify-content: flex-start;
} 
.arrow::after, .doo-sort::after {
    margin-left: 0.25rem;
    content: "\2195"; 
}

.fhead  .dir_1::after {
    content: "\2193"; 
 
}
.fhead .dir_-1::after {
    content: "\2191" 
}
.doo-find {
    color: red;
    font-weight: normal;
}
.doo-flex {

    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5rem 0.25rem 0.25rem !important;
}
.doo-1 {
    flex: 1 !important;
    min-width: 5vw !important;
    max-width: 8vw !important;
    width: 2.5rem;
    white-space: nowrap;
}
.doo-2 {
    flex:2 !important;
    min-width: 10vw !important;
    max-width: 16vw !important;

}
.doo-3 {
    flex:3 !important;
    min-width: 15vw !important;
    max-width: 24vw !important;

}
.doo-4 {
    flex:4 !important;
    min-width: 20vw !important;
    max-width: 32vw !important;
}
*, ::before, ::after {
    box-sizing:unset;
}
.doo-center {
    display:block !important;
    text-align: center !important;
}
.doo-end {
    display: block !important;
    text-align: end;
}



