.form-container {
    display: flex;
}
.h-form, .v-form {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    font-family: roboto;
    font-size: 0.8rem;
    background-color: #eee;
    border: 1px solid grey;
    padding: 1rem;
}

/* horizontal form */
.h-form > div {
    margin-right: 0.5rem;
}
.h-form input, .h-form button {
    display: block;
}

/* vertical form */
.v-form {
    flex-direction: column;
}
.v-form > div {
    flex-shrink: 1;
}
.v-form input, .v-form button, .v-form label {
    display: flex;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.doo-logo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    display:inline-block; 
    padding-left: 2.3rem; 
    padding-right: 1.5rem;  
    font-size: 2.5rem; 
    background-color:black;
    display: inline-block;
    background-image: url(/favicon.png);
    background-position: 0.5rem 0.75rem;
    background-size: 5%;
    background-repeat: no-repeat;
    color:lightgrey;
    text-overflow: ellipsis; 
    margin-bottom: 1rem;
    text-decoration: none;
}
.doo-logo:before {
    content: 'DooHTML';
}
.flex {
    display: flex;
}
.justify-evenly {
    justify-content: space-evenly;
}
.flex-1 {
    flex:1;
}
