<!DOCTYPE html>
<template>
	<section>
        <link rel="stylesheet" href="/assets/css/doo/doo-flex-grid.css">
		<div class="find" style="margin: 0.5rem 0;">Find:
			<input type="search" oninput="Contacts[0].find(event)" class="input is-medium"  placeholder="Search..."/>
			<div id="footer" class="total"  bind="contacts" data-norepeat>
				<i>Found: {{ found(contacts) }} / <b>{{ count(contacts) }}</b></i>
			</div>		
		</div>

 		<div class="container">
            <div class="fhead" data-src="[0]" bind="dummy" >
                <div class="small">
                    <span onclick="self.sortBy(this, 'userId')"  class="doo-sort">ID</span>
                </div>
                <div>
                    <span onclick="self.sortBy(this, 'fname')" class="doo-sort">First Name</span>
                </div>
                <div class="small">
                    <span onclick="self.sortBy(this, 'middle')"  class="doo-sort">M.I</span>
                </div>
                <div>
                    <span onclick="self.sortBy(this, 'lname')"   class="doo-sort">Last Name</span>
                </div>
                <div>
                    <span onclick="self.sortBy(this, 'location.city')"  class="doo-sort">City</span>
                </div>
            </div>

            <div class="fbody">
                <div data-src="this.data" bind="contacts">
					<div class="small number">{{ userId }}</div>
                    <div>{{ fname }}</div>
                    <div class="small" style="text-transform: capitalize;">{{ middle }}</div>
					<div>{{ lname }}</div>
                    <div>{{ location.city }}</div>
                </div>
			</div>
        </div>
        <style>
            .selected-row {
                background-color: #f2dede !important;
            }

            @media screen and (max-width: 600px) { 
                .fbody data > div div:first-child::before {
                    content: 'ID:';
                }
                .fbody data > div div:first-child {
                    font-weight: bold;
                }
            }    
        </style>		
	</section>
</template>